{% set page_title = 'Search - ' ~ wiki_title %}{% include '_header.html' %}
  <style> <!-- TODO: move this to a CSS file -->
    ul#resList{list-style-position: inside;margin-left:3em;}
    li.item{list-style:none; padding:5px;}
    div#renderList{margin-top:1.5em;}
  </style>
<body>
  <div id="header">
    <span id="hamburger-btn" class="hidden">&#9776;</span><a class="button is-light" id="header-link" href="{{websiteroot}}/index.html" style="text-decoration: none;">{{wiki_title}}</a>
  </div>

  <div class="container" id="flex-container">
    <div id="side-column">
      <div>
        <button id="hide-btn">Hide</button>
        <button id="move-btn" class="hidden">Move to Sidebar</button>
      </div>
      {{ sidebar_body }}
    </div>

    <div id="main-column">
      <div class="content markdown-body">
	<h1>Search in {{wiki_title}}</h1>
        {% if lunr_index_sitepath != '' %}
	<input type="text" placeholder="type search words" id="inputID">
	<button type="button" onclick="doSearch();" id="searchButton">Search</button>
        {% else %}
	<p>Lunr search index is not present. It is enabled by passing the <code>--lunr</code> flag to <code>markpub</code>.</p>
	<p>Check the MarkPub documentation for more details.</p>
        {% endif %}
	<div id="renderList"></div>
      </div>
    </div>
  </div>
  <script>{% include '_javascript.html' %}</script>
  <script>
      const websiteroot = "{{websiteroot}}";
      function doSearch() {
	let searchString=document.getElementById("inputID").value;
	var ul = document.createElement('ul');
	ul.setAttribute('id','resList');
	const searchResultList = index.search(searchString).map((item) => {
	  return lunr_posts.find((post) => item.ref === post.link)
	})
	render_list = document.getElementById('renderList');

	// clear any previous results, then populate results
	removeAllChildNodes(render_list);
	render_list.appendChild(ul);
	searchResultList.forEach(renderResultList);
        if (ul.childNodes.length == 0) {
          render_list.append('No results for "' + searchString + '"')
	}

	// helper to set a single result (in scope of doSearch())
	function renderResultList(element, index, arr) {
	  var anchor = document.createElement('a');
	  anchor.append(document.createTextNode(`${element.title}`));
	  anchor.setAttribute('class', 'wikilink');
	  anchor.setAttribute('href',`${websiteroot}${element.link}`);
	  anchor.setAttribute('target', '_blank');
	  var li = document.createElement('li');
	  li.setAttribute('class','item');
	  li.append(anchor);
	  ul.append(li);
	}
      }

      // helper to clear previous search results
      function removeAllChildNodes(parent) {
	while (parent.firstChild) {
	  parent.removeChild(parent.firstChild);
	}
      }

      // ensure the DOM is loaded
      document.addEventListener('DOMContentLoaded', () => {
	// search on Enter
	var input_id = document.getElementById('inputID')
	input_id.focus()
	input_id.addEventListener('keypress', function(event) {
	  if (event.key === "Enter") {
	    event.preventDefault();
	    document.getElementById("searchButton").click();
	  }
	});
      })
    </script>
  {% include '_footer.html' %}
  <script src="{{websiteroot}}/markpub-static/js/script.js"></script>
</body>
</html>
